* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #111;
  color: #eee;
  font-family: sans-serif;
  padding: 2rem;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

header {
  display: flex;
  flex-direction: column;
  gap: .3rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: normal;
}

nav {
  display: flex;
  gap: 1rem;
  font-size: 2em;
}

nav a {
  color: #eee;
  text-decoration: none;
}

nav a:hover {
  color: coral;
}

@media (min-width: 768px) {
  body {
    font-size: 2rem;
    padding: 4rem;
  }

  nav {
    font-size: 1.25em;
  }
}